.popup.pos_close_popup {
	height: 350px !important;
	background-color: #393939 !important;
	width: 550px !important;
	border: 10px solid #fff !important;
	border-radius: 10px !important;
}
/* POS Session Close CSS */
.popup-cashcontrol-structure {
	height: 600px !important;
}
#cashbox_data_table {
	width: 100%;
}

#cashbox_data_table tr td {
	padding: 5px !important;
}

#cashbox_data_table tr th {
	font-size: 15px;
}

#opening_cash_table {
	width: 100%;
}

#opening_cash_table tr td {
	padding: 5px !important;
}

#opening_cash_table tr th {
	font-size: 15px;
}

.cashcontrol_td {
	font-size: 14px !important;
	height: 34px !important;
	min-height: 0px !important;
	text-align: right !important;
}

#delete_row {
	cursor: pointer;
}

#add_new_item {
	height: 39px;
	width: 115px;
	font-size: 13px;
	margin-top: 3%;
	margin-bottom: 5%;
	/* background-color: #94b45e; */
	color: #333;
	margin-left: 15px;
}

.screen .top-content .cash-control-header {
	margin-top: 10px;
	margin-left: 12px;
	font-size: 30px;
	font-weight: bold;
}

.open_footer {
	position: absolute;
	top: 75%;
	width: 100%;
	height: 65px;
}

#add_open_balance {
	height: 39px;
	width: 115px;
	font-size: 13px;
	margin-top: 3%;
	margin-bottom: 5%;
	background-color: #5f5e97;
	border-color: #414168;
	color: white;
	margin-left: 20px;
}

#validate_open_balance {
	height: 40px;
	width: 115px;
	font-size: 15px;
	float: right;
	margin-right: 20px;
	background-color: #5f5e97;
	border-color: #414168;
	color: white;
}

#skip {
	height: 40px;
	width: 115px;
	font-size: 15px;
	margin-top: 1%;
	float: right;
	margin-right: 20px;
}

.open_balance_item {
	position: absolute;
	margin-top: 2%;
}

.pos .popup .footer {
	border-top: 1px solid #3e3e3e;
}

#cash_details {
	font-size: 13px;
	margin-top: 10%;
}

.close-lock-btn, .close-popup-btn {
	width: 24px;
	height: 24px;
	border: 1px solid;
	border-radius: 15px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -16px;
	right: -16px;
	font-weight: bold;
	z-index: 9;
	color: #fff;
	background: #393939 !important;
	cursor: pointer;
}

.lock-section {
	padding: 0 10px;
}

.close-pos-btn {
	width: 100%;
	height: 225px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.close-pos-btn span {
	position: relative;
	width: 250px;
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #dedede;
	border-radius: 30px;
	cursor: pointer;
	margin: 20px 20px 0px 15px;
}

.title-name-hover {
	bottom: -30px;
	display: none;
	position: absolute;
}

.close-pos-btn span:hover {
	background: #fff;
	color: rgb(89, 105, 125);
}

.close-pos-btn span:hover .title-name-hover {
	color: #ffffff;
	display: block;
}

.close-pos-btn span .fa.fa-sign-out, .fa.fa-power-off, .fa.fa-times-circle {
	font-size: 100px !important;
}
