.pos .product .product-qty {
	position: absolute;
	top: 0px;
	left: 0px;
	vertical-align: top;
	color: white;
	line-height: 13px;
	background: #6cc49b;
	padding: 2px 5px;
	border-radius: 2px;
}

.pos .product .product-qty-low {
	position: absolute;
	top: 0px;
	left: 0px;
	vertical-align: top;
	color: white;
	line-height: 13px;
	background: red;
	padding: 2px 5px;
	border-radius: 2px;
}

.pos .rightpane .product-list.list .css_product_custom_qty {
	width: 15% !important;
	float: left;
	position: relative;
}

.pos .product .product-qty-low {
	position: absolute;
	top: 0px;
	left: 0px;
	vertical-align: top;
	color: white;
	line-height: 13px;
	background: red;
	padding: 2px 5px;
	border-radius: 2px;
}

.btn_icon_set {
	line-height: 19px;
	font-size: 24px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	max-width: 97%;
	margin: 4px 0px;
	height: 39px;
}


.btn_span_set {
	line-height: 43px;
	font-size: 14px;
	width: 66%;
	text-align: left;
	float: left;
	position: relative;
	height: 41px;
	font-size: 16px;

}

.left_option_menu {
	/* height: 100%;
	width: 137px;
	position: absolute; */
	height: 100%;
	position: absolute;
	width: 161px;
	margin: 0px 1px;
}

#left-sidebar-content {
	height: 100%;
}

.btn_icon_set img {
	height: 39px;
	width: 100%;
	max-width: 27%;
	float: left;
	margin: 0px 5px;
}

.pos .leftpane {
	left: 167px;
}

.pos .rightpane {
    left: 603px;
}

.warehouse_css {
	border-top: 1px solid #3e3e3e;
	border-bottom: 1px solid #3e3e3e;
}

.pos .rightpane .product-list.list .css_product_custom_qty .service_prod_qty
	{
	padding: 0 !important;
	top: 0;
	height: 40px;
	position: relative;
	float: left;
	width: 15% !important;
}